page-productlist {
.product-img{
    width: 40px !important;
    height: 40px !important;
}
.product-thumbnail{
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    margin: 0 !important;
}
.label-md {
    margin: 6px 9px 0px 0;
}
.item-container
{
    background-color: white;
    //border-width: 1px;
    border-top: #757171 solid;

}

.order-button{
    width: 100%;
    background: #000;
    margin-bottom: 13px;
}
.profile-button{
    width: 100%;
    background: #000;
    margin-top: 11%;
}
.rest-img{
    height: 80px !important;
    width: 100% !important;
    text-align: center;
    white-space: normal;
    color:#357e9f;
}
.icon-no-margin {
    color: #1f4a5d !important;
    font-size: 3em;
    margin: 0 !important;
  }
  .desc-row{
    white-space: normal;
    overflow: hidden;
}
.scroll-content{
    padding: 0 !important;
}
.rest-input{
    text-align: center;
    font-family: fantasy;
    margin: auto;
    color: #fbb713 !important;

}
.rest-button{
    background-color: #fbb713;
  //  width: fit-content;
   // height: 100%
}

.item-md ion-thumbnail {
    min-width: 60px;
    min-height: 60px;
    margin: 0 !important;
}
.item-md ion-thumbnail img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
p{
    color: #d2cdcd !important;
}
}

