page-landing {
    .regester-button{
        width: 100%;
        background: #000;
        margin-bottom: 13px
    }
    .landing-header{   
        font-size: 1.5em;
        text-align: center;
    }
    .or{
        text-align: center;
        font-size: 1.2em;
    }
    .header-img {
        max-width: 15%;
        margin-right: 41%;
    }
}
