page-landing {
    .regester-button{
        width: 100%;
       
        margin-bottom: 13px
    }
    .landing-header{   
        font-size: 1.5em;

        color: #fede17;
        text-align: center;
    }
    .or{
        color: #fede17;
        text-align: center;
        font-size: 1.2em;
    }
    .header-img {
        max-width: 15%;
        margin-right: 41%;
    }
}
