<ion-menu [content]="content">
        <ion-content>
          <div *ngIf="POSReady && POSCategoryReady" class="menu-content">
          <ion-row>
            <ion-col class="menu-header">
                الرئيسيه                
          </ion-col>
          <ion-col class="menu-header">
              <ion-icon class="menu-icon" name="arrow-back"></ion-icon>
          </ion-col>
          </ion-row>
          <ion-row>
              <ion-col class="menu-header">
                  حسابي                
            </ion-col>
            <ion-col class="menu-header">
                <ion-icon class="menu-icon" name="arrow-back"></ion-icon>
            </ion-col>
            </ion-row>



          <ion-row>
            <ion-col class="menu-header">
                عربه التسوق                
          </ion-col>
          <ion-col class="menu-header">
              <ion-icon class="menu-icon" name="arrow-back"></ion-icon>
          </ion-col>
          </ion-row>


          <ion-row>
            <div class="menu-sub-header">
              عرض: 
            </div>
          </ion-row>
          <ion-row>
            <div (tap)="changeFlter(0)" class="menu-filters">
              الشركات
            </div>
          </ion-row>
          <ion-row>
              <div (tap)="changeFlter(1)" class="menu-filters"> 
                  الفئات
              </div>
            </ion-row>
            <ion-row>
                <ion-searchbar [(ngModel)]="searchterm" (ionInput)="search()" placeholder="ابحث" ></ion-searchbar>
                </ion-row>


                <ion-row class="menu-list-row">
                    <ion-list class="menu-list">
                        <ion-item class="menu-items"   *ngFor="let item of listedArr" (tap)="openpage(item)">
                            <ion-thumbnail item-start class="menu-thumbnail">
                                <img class="menu-thumbnail-img" *ngIf="item.image" [src]="item.image">
                                <img *ngIf="!item.image"class="menu-thumbnail-img" src="assets/img/no-img.jpeg" >
                              </ion-thumbnail>
                          {{item.name}}
                  
                        </ion-item>
                      </ion-list>
                </ion-row>

              </div>
        </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
