<ion-header>
  <BOQ-Header></BOQ-Header>
</ion-header>


<ion-content padding>
  <div *ngIf="ReadyCate && ReadyNews">  
      <ion-slides  loop="false"  pager="false" parallax="true" dir="ltr" slidesPerView='4'>
          <ion-slide class="cat-slide" (tap)="filter()">
            <div *ngIf="ActiveNow == -1"class="cat-slide-activated">
                All
            </div>
            <div *ngIf="ActiveNow != -1" >
                All
            </div>
            </ion-slide>
          <ion-slide *ngFor="let slide of newsCategories ; let i= index" (tap)="filter(slide,i)">
            <div *ngIf="ActiveNow == i" class="cat-slide-activated">
                {{slide.name}}
            </div>
            <div *ngIf="ActiveNow !=i">
                {{slide.name}}
            </div>
          </ion-slide>
       </ion-slides>
  <div>
    <ion-list>
      <ion-item *ngFor="let item of filteredNews">
        <ion-row><ion-col>{{item.title}}</ion-col></ion-row>
        <ion-row><ion-col><img [src]="item.image"></ion-col></ion-row>
        <ion-row><ion-col><p>{{item.content}}</p></ion-col></ion-row>
       
      </ion-item>
    </ion-list>
  </div>
</div>

</ion-content>
