page-home {
    
    .cat-slide-activated{
        border-bottom: solid #fbb713;
    }
    .item-md p{
        color : rgb(254, 222, 23) ;
    }
    img {
        max-width: 100%;
        border: 0;
        /* margin: auto; */
        width: 100%;
    }
}
