page-login {
    .header-img{
        margin-right: 30%;
        max-width: 18%;
    }
    .text-cont{
        margin: auto;
    }
    .text{
        margin-top: 1rem !important;
        
    }
    .reg-input{
       // border: solid #dedede;
       // border-width: 1px;
        width: 100%;
    }
    .login-button{
        width: 100%;
        
      
    }
    .item-label-stacked .select-md .item-label-floating .select-md{
        padding-left: inherit !important;
        padding-top: 8px;
        padding-bottom: 8px;
    
    }
    .item-label-stacked{
        margin-left: 7px;
    
    }
    .reg-input{
        margin-left: 12px;
    }
    
}
