page-login {
    .header-img{
        margin-right: 30%;
        max-width: 18%;
    }
    .text-cont{
        margin: auto;
    }
    .text{
        margin-top: 1rem !important;
        
    }
    .reg-input{
        border: solid #dedede;
        border-width: 1px;
        width: 100%;
    }
    .login-button{
        width: 100%;
        background: #000;
        margin-bottom: 13px;
        margin-top: -9px;
    }
}
