page-registeration {
.header-img{
    margin-right: 30%;
    max-width: 18%;
}
.text-cont{
    margin: auto;
}
.text{
    margin-top: 1rem !important;
    font-size: 1.5rem;
    
}
.reg-input{
    border: solid #dedede;
    border-width: 1px;
    width: 100%;
}
.gender-select{
    width: 100%;
    border: solid #dedede;
    border-width: 1px;
    max-width: 100%;
}
.regester-button{
    width: 100%;
    background: #000;
    margin-bottom: 13px;
    margin-top: -9px;
}
}
