<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<BOQ-Header></BOQ-Header>
</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col><h4> TotalPrice :</h4></ion-col>
    <ion-col><h4>{{totalPrice}} LE</h4></ion-col>
  </ion-row>
  <div class="order-cont">
    <ion-scroll class="scroll-content" scrollY="true">
      <ion-list>
        <ion-item class="item-container" *ngFor="let element of viewOrder ; let index = index ; trackBy:trackByIndex;">
          <ion-row>
              <ion-col col-auto>
                  <ion-thumbnail item-start>
                      <img *ngIf="element.item.imageUrl"  [src]="element.item.imageUrl" >
                      <img *ngIf="!element.item.imageUrl"  src="assets/img/no-img.jpeg">
                  </ion-thumbnail>
                  </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col col-5><p>{{element.item.name}}</p></ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col col-5><p>Quantity :</p></ion-col>
                      <ion-col col-2><p>{{element.quantity}}</p></ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-5><p>Unit price:</p></ion-col>
                      <ion-col col-2><p>{{element.item.price}}</p></ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-5><p>Total Price:</p></ion-col>
                        <ion-col col-3><p>{{element.item.price * element.quantity}}</p></ion-col>
                        
                      </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </div>
  <button ion-button round class="order-button" (tap)="confirm()" *ngIf="!confirmed"> Confirm Order</button>
</ion-content>
